/* line 6, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
header .container, footer .container, section .container {
  width: 1002px;
  margin: 0 auto; }

/* line 10, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
.showcase {
  height: 446px;
  background: #6fdbd0 url("../img/index/showcase-container-bg.png") center 30px no-repeat;
  min-width: 1002px; }
  /* line 14, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .showcase .container {
    position: relative; }
  /* line 16, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .showcase .phone {
    height: 587px;
    width: 431px;
    background: url("../img/index/phone.png") no-repeat;
    position: absolute;
    top: 35px; }
  /* line 22, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .showcase .brand {
    position: absolute;
    right: 20px;
    top: 128px;
    width: 227px;
    height: 108px;
    background: url("../img/index/brand.png") no-repeat; }
  /* line 29, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .showcase .weixin-qrcode {
    top: 300px;
    right: 20px;
    position: absolute;
    width: 215px;
    height: 215px;
    background: url("../img/index/weixin_qrcode.jpg") no-repeat; }
  /* line 36, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .showcase .download-info {
    top: 264px;
    right: 0;
    position: absolute;
    width: 427px;
    height: 180px; }
    /* line 42, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    .showcase .download-info .btn-download-android, .showcase .download-info .btn-download-ios {
      width: 210px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize; }
    /* line 72, index/button/*.png */
    .showcase .download-info .button-sprite, .showcase .download-info .btn-download-android, .showcase .download-info .btn-download-android:hover, .showcase .download-info .btn-download-ios, .showcase .download-info .btn-download-ios:hover {
      background-image: url("../img/index/button-s5666e3e9e2.png");
      background-repeat: no-repeat; }
    /* line 48, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    .showcase .download-info .btn-download-android {
      background-position: 0 -60px;
      margin-top: 37px; }
      /* line 50, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
      .showcase .download-info .btn-download-android:hover {
        background-position: 0 0; }
    /* line 53, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    .showcase .download-info .btn-download-ios {
      background-position: 0 -180px;
      margin-top: 15px; }
      /* line 55, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
      .showcase .download-info .btn-download-ios:hover {
        background-position: 0 -120px; }
    /* line 58, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    .showcase .download-info .qrcode {
      float: right;
      background: url("../img/index/qrcode.jpg") no-repeat;
      width: 180px;
      height: 180px; }

/* line 64, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
.feature-guide-starter {
  height: 500px;
  background: url("../img/index/feature-guide-starter-bg.jpg") top no-repeat no-repeat;
  min-width: 1002px; }
  /* line 68, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .feature-guide-starter .container {
    position: relative; }
  /* line 70, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .feature-guide-starter .feature-intro {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    position: absolute;
    background: url("../img/index/feature-intro.png") top center no-repeat;
    top: 207px;
    width: 100%;
    height: 38px; }
  /* line 77, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .feature-guide-starter .start-icon {
    position: absolute;
    background: url("../img/index/start-icon.png") top center no-repeat;
    width: 100%;
    height: 204px;
    top: 295px; }

/* line 85, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
.feature-guide .container {
  height: 1965px; }
/* line 87, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
.feature-guide .guider-wrapper {
  background: url("../img/index/feature-guide.jpg") top center no-repeat;
  height: 1965px;
  margin-left: -10px; }

/* line 92, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
header {
  height: 100px;
  background: white;
  overflow: hidden; }
  /* line 96, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  header .slogan, header .logo {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  /* line 98, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  header .slogan {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background: url("../img/index/slogan.jpg") no-repeat;
    width: 168px;
    height: 70px;
    margin-left: 24px;
    margin-top: 26px; }
  /* line 105, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  header .logo {
    width: 166px;
    height: 64px;
    margin-top: 16px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background: url("../img/index/logo.png"); }

/* line 112, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
footer {
  height: 292px;
  background-color: #0bb1a0;
  min-width: 1002px;
  color: white;
  overflow: hidden;
  text-align: center; }
  /* line 119, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  footer .info-wrapper {
    margin-top: 50px; }
  /* line 121, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  footer .info-list {
    text-align: left;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-right: 100px; }
    /* line 127, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .info-list a {
      color: #f6f6f6;
      outline: none; }
      /* line 129, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
      footer .info-list a:visited {
        color: #f6f6f6; }
      /* line 131, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
      footer .info-list a:hover {
        color: #055850; }
    /* line 134, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .info-list ul {
      color: #f6f6f6;
      margin-bottom: 0; }
    /* line 137, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .info-list li {
      padding: 3px 0; }
  /* line 139, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  footer .follow-info {
    padding-right: 60px;
    margin-right: 60px;
    position: relative; }
    /* line 143, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .follow-info li {
      padding: 8px 0; }
      /* line 145, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
      footer .follow-info li a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline; }
    /* line 147, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .follow-info:after {
      content: "";
      position: absolute;
      top: 23px;
      right: 0;
      width: 1px;
      height: 62px;
      display: block;
      background: #f6f6f6; }
    /* line 156, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .follow-info .icon-weixin, footer .follow-info .icon-weibo {
      height: 28px;
      width: 34px;
      margin-right: 12px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    /* line 56, index/icon/*.png */
    footer .follow-info .icon-sprite, footer .follow-info .icon-weibo, footer .follow-info .icon-weixin {
      background-image: url("../img/index/icon-s3d16e3afaa.png");
      background-repeat: no-repeat; }
    /* line 162, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .follow-info .icon-weibo {
      margin-top: -5px;
      background-position: 0 0; }
    /* line 165, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
    footer .follow-info .icon-weixin {
      background-position: 0 -28px; }
  /* line 167, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  footer .copyright {
    text-align: center;
    margin-top: 50px;
    font-size: 16px; }

/* line 172, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
.modal#weixin-qrcode-modal {
  width: 215px; }
  /* line 174, /Users/yangao/mine-work/tingba/source/css/index.css.sass */
  .modal#weixin-qrcode-modal .weixin-qrcode {
    width: 215px;
    height: 215px;
    background: url("../img/index/weixin_qrcode.jpg") no-repeat; }
