---
title: 停吧
---

header
  .container
    a.logo href="/" 停吧
    .slogan 停车快手，为你而来

section.showcase
  .container
    .phone
    .brand
    .download-info
      .qrcode
      a.btn-download-ios href="#" target="_blank" 下载 iPhone APP
      a.btn-download-android href="#" target="_blank" 下载 Android APP

section.feature-guide-starter
  .container
    .feature-intro
      | 停车何必千百度？搜停吧，福州1500个停车场统统为你服务！
    .start-icon

section.feature-guide
  .container
    .guider-wrapper

footer
  .container
    .info-wrapper
      .info-list.follow-info
        .title 微关注
        ul
          li
            a href="http://weibo.com/51tingba" target="_blank"
              span.icon-weibo
              | 新浪微博
          li
            a href="#"
              span.icon-weixin
              | 微信账号
      .info-list
        .title 产品咨询
        ul
          li
            | 联系人：林小姐
          li
            | 电话：13960905909
          li
            | 邮箱：lin_qiao023@126.com
      .info-list
        .title 广告合作
        ul
          li
            | 联系人：杨小姐
          li
            | 电话：13559197417
          li
            | 邮箱：sunny_918@163.com
    .copyright
      | © 2015 停吧 tingba | 闽 ICP 备 14019669 号
